@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap");
#Home {
  background-color: rgb(10, 10, 10);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
}
#Home .container {
  margin-top: 65px;
  margin-left: 30%;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#Home .container .info {
  width: 50%;
  display: inline-flex;
  font-size: 2rem;
  color: rgb(242, 237, 237);
  font-weight: 650;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  justify-items: center;
  position: relative;
}
#Home .container .info::after {
  content: "";
  right: 0;
  top: 50%;
  width: 5%;
  border-bottom: 3px solid rgb(200, 201, 127);
  position: absolute;
}
#Home .container .info::before {
  content: "";
  left: 0;
  top: 50%;
  width: 5%;
  border-bottom: 3px solid rgb(200, 201, 127);
  position: absolute;
}
#Home .container .btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 30px;
}
#Home .container .btnContainer a {
  color: rgb(242, 237, 237);
  font-family: "Lato", sans-serif;
  display: flex;
  padding: 25px;
  padding-left: 40px;
  padding-right: 40px;
  height: 20px;
  align-items: center;
  border-radius: 50px;
  justify-items: center;
  outline: none;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.03rem;
  cursor: pointer;
  transition: all ease-in-out 400ms;
  border: none;
}
#Home .container .btnContainer .cv {
  background-color: transparent;
  color: rgb(242, 237, 237);
  border: 3px solid rgb(210, 34, 34);
  margin-right: 20px;
}
#Home .container .btnContainer .cv:hover {
  background-color: rgb(210, 34, 34);
}
#Home .container .btnContainer .project {
  background-color: rgb(14, 14, 90);
}
#Home .container .btnContainer .project:hover {
  background-color: transparent;
  border: 3px solid rgb(14, 14, 90);
}

#textAnimation span {
  color: rgb(105, 98, 98);
  font-size: 4rem;
}
#textAnimation strong {
  color: rgb(215, 23, 23);
}

.socials {
  position: absolute;
  justify-items: center;
  align-items: center;
}
.socials .github {
  background-color: rgb(141, 139, 139);
}
.socials .github:hover .iconContainer svg {
  color: rgb(44, 44, 43);
}
.socials .linkedin {
  background-color: rgb(34, 74, 220);
}
.socials .linkedin:hover .iconContainer svg {
  color: rgb(0, 18, 79);
}
.socials .email {
  background-color: rgb(200, 162, 26);
}
.socials .email:hover .iconContainer svg {
  color: rgb(146, 83, 0);
}
.socials .Scontainer {
  margin-right: 500px;
  display: flex;
  position: relative;
  height: 60px;
  width: 250px;
  transform: translateX(-150px);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 2px;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}
.socials .Scontainer:hover {
  transform: translateY(0);
}
.socials .Scontainer .text {
  padding-top: 3px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(242, 237, 237);
}
.socials .Scontainer svg {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10%;
  top: 15%;
  position: block;
  color: rgb(221, 209, 209);
  transition: all ease-in-out 400ms;
}

#NavBar {
  z-index: 10;
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px;
  align-items: center;
  transition: all 400ms ease-in-out;
}

.scrolled.dark {
  background-color: rgb(24, 26, 26);
}

.scrolled.light {
  background-color: #ff4f58;
}

#navBarName {
  text-align: center;
  width: 40%;
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 10px;
}
#navBarName #nameOne {
  font-family: "Permanent Marker", cursive;
}
#navBarName #nameOne .dark {
  color: rgb(242, 237, 237);
}
#navBarName #nameTwo {
  font-family: "Permanent Marker", cursive;
}
#navBarName #nameTwo .dark {
  color: rgb(215, 23, 23);
}

#navBarList {
  display: flex;
  width: 60%;
  gap: 5%;
  align-items: center;
}
#navBarList a {
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(155, 151, 151);
}
#navBarList .container {
  display: flex;
  height: 100%;
  transition: all 150ms ease-in-out;
  padding: 5px;
}
#navBarList .container svg {
  color: rgb(173, 173, 173);
  margin-right: 5px;
  margin-top: 3px;
  transition: all 300ms ease-in-out;
  transform: scale(1.2);
}
#navBarList .container:hover {
  border-bottom: 3px solid rgb(176, 176, 255);
  transform: scale(1.2);
}
#navBarList .container:hover svg {
  color: rgb(132, 152, 207);
  transform: scale(1.2);
}
#navBarList #switchColor {
  width: 80px;
  height: 30px;
  border-radius: 50px;
  background-color: rgb(29, 37, 41);
  position: relative;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}
#navBarList #switchColor::after {
  content: "";
  background-color: rgb(211, 211, 211);
  border-radius: 100%;
  position: absolute;
  height: 100%;
  width: 30px;
  left: 0;
  transition: all 400ms ease-in-out;
}
#navBarList #switchColor.active {
  background-color: rgb(205, 141, 2);
}
#navBarList #switchColor.active::after {
  transform: translateX(165%);
}
#navBarList #switchColor svg {
  position: absolute;
  height: 20px;
  top: 15%;
}
#navBarList #switchColor #moonIcon {
  right: 5px;
  color: rgb(242, 237, 237);
}
#navBarList #switchColor #sunIcon {
  left: 5px;
  color: rgb(242, 237, 237);
}

#About .container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
}
#About .container .title {
  font-size: 2rem;
  font-weight: 650;
  font-style: italic;
  color: rgb(105, 98, 98);
  text-align: center;
}
#About .container div {
  padding: 20px;
}
#About .container div .textContainer {
  color: rgb(242, 237, 237);
  font-size: 1.35rem;
}
#About .container div .textContainer span {
  font-weight: 900;
  color: rgb(205, 99, 99);
  padding-left: 2px;
  padding-right: 2px;
}
#About .container div .imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
#About .container div .imgContainer img {
  width: 300px;
  height: 250px;
  border-radius: 20%;
  margin-left: 5%;
}

#AllTraits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
}

.traitContainer {
  display: flex;
}
.traitContainer .imgContainer {
  transform: scale(0.85);
}
.traitContainer .textContainer {
  align-self: center;
}

#Skills .container {
  height: 100%;
  width: 100%;
  justify-content: center;
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  gap: 300px;
}
#Skills .container .skillBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(56, 55, 55);
  height: 400px;
  align-items: center;
  box-shadow: rgba(84, 76, 76, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
#Skills .container .skillBox svg {
  justify-self: center;
  height: 40px;
  color: rgb(205, 99, 99);
  margin-bottom: 20px;
  transition: all 400ms ease-in-out;
}
#Skills .container .skillBox .title {
  padding: 5px;
  font-size: 1.4rem;
  color: rgb(242, 237, 237);
  text-align: center;
  font-weight: 800;
  margin-bottom: 40px;
}
#Skills .container .skillBox .skillContainer ul li {
  display: flex;
  color: rgb(242, 237, 237);
  font-weight: 300;
  margin-bottom: 10px;
}
#Skills .container .skillBox .skillContainer ul li img {
  height: 20px;
  margin-left: 5px;
}
#Skills .container .skillBox:hover {
  transform: translateY(-20px);
  border-bottom: 3px solid rgb(200, 201, 127);
}
#Skills .container .skillBox:hover svg {
  color: rgb(200, 201, 127);
}

#carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
#carousel #projectName {
  letter-spacing: 8px;
  font-family: "Permanent Marker", cursive;
  color: rgb(242, 237, 237);
  font-size: 2.5rem;
  margin-bottom: 15px;
}
#carousel #projectDesc {
  color: rgb(242, 237, 237);
}
#carousel #videoSliderContainer {
  display: flex;
  height: 600px;
  width: 950px;
  position: relative;
}
#carousel #videoSliderContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.5;
}
#carousel #videoSliderContainer .videoSlider {
  position: relative;
  width: 96%;
  height: 88%;
  overflow: hidden;
  display: flex;
  margin-top: 1%;
  margin-left: 2%;
  border-radius: 3%;
}
#carousel #videoSliderContainer .videoSlider video {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 2000ms ease-in-out;
}

.videoActive {
  opacity: 0.85 !important;
}

#AllProjects .txtContainer {
  color: rgb(242, 237, 237);
  width: 40%;
  font-size: 1.15rem;
  padding: 20px;
  font-weight: 700;
}
#AllProjects .txtContainer span {
  color: rgb(205, 99, 99);
}

#projectContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  gap: 80px;
  padding: 40px;
}
#projectContainer .projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 500px;
  border: 3px solid rgb(58, 58, 58);
  border-radius: 5%;
}
#projectContainer .projectCard .imgContainer {
  width: 100%;
  height: 40%;
  padding: 10px;
  border-radius: 5%;
}
#projectContainer .projectCard .imgContainer img {
  width: 100%;
  border: 1px solid rgb(151, 202, 236);
  border-radius: 5%;
}
#projectContainer .projectCard .name {
  height: 5%;
  font-weight: 600;
  font-size: 1.5rem;
  color: rgb(242, 237, 237);
  width: 100%;
  text-align: center;
  text-align: center;
}
#projectContainer .projectCard .description {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  font-weight: 600;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(242, 237, 237);
  width: 100%;
  text-align: center;
  padding: 10px;
}
#projectContainer .projectCard .madewith {
  display: flex;
  height: 5%;
  align-items: center;
}
#projectContainer .projectCard .madewith p {
  font-weight: 600;
  color: rgb(242, 237, 237);
  margin-right: 10px;
}
#projectContainer .projectCard .madewith .skills img {
  width: 20px;
}
#projectContainer .created {
  color: rgb(242, 237, 237);
  font-weight: 600;
  height: 5%;
}
#projectContainer #projectCardButtons {
  display: flex;
  width: 100%;
  height: 20%;
  padding: 15px;
  justify-content: space-around;
}
#projectContainer #projectCardButtons a {
  height: 35px;
  width: 120px;
  padding: 10px;
  background-color: rgb(210, 34, 34);
  text-decoration: none;
  color: rgb(242, 237, 237);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease-in-out;
  font-weight: 700;
}
#projectContainer #projectCardButtons a:hover {
  transform: scale(1.1);
  background-color: rgb(242, 237, 237);
}
#projectContainer #projectCardButtons a:hover p {
  color: rgb(215, 23, 23);
}
#projectContainer #projectCardButtons a:hover svg {
  color: rgb(215, 23, 23);
}
#projectContainer #projectCardButtons a .container {
  display: flex;
}
#projectContainer #projectCardButtons a .container p {
  text-align: center;
}
#projectContainer #projectCardButtons a .container svg {
  margin-right: 10px;
  padding-top: 2px;
}

* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 600vh;
}

#App {
  position: relative;
  width: 100%;
  height: 100%;
}

.sectionTitle {
  padding: 20px;
  font-weight: 700;
  padding-top: 60px;
  color: rgb(242, 237, 237);
}
.sectionTitle .alter {
  color: rgb(205, 99, 99);
}
.sectionTitle p {
  font-size: 2.5rem;
  position: relative;
}
.sectionTitle p::after {
  content: "";
  bottom: 40%;
  margin-left: 10px;
  position: absolute;
  border-bottom: 3px solid rgb(200, 201, 127);
  width: 20%;
}

#About {
  height: 100%;
  background-color: rgb(7, 13, 21);
}

#Skills {
  height: 100%;
  background-color: rgb(10, 10, 10);
}

#ShowCase {
  height: 100vh;
  background-color: black;
  background: url(../img/chill.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#AllProjects {
  height: 100%;
  background-color: rgb(10, 10, 10);
}

/*# sourceMappingURL=App.css.map */
