@use "Home";
@use "NavBar";
@use "About";
@use "Skills";
@use "ShowCase";
@use "AllProjects";
@use "LightMode";
@import "Variables";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap");
* {
  font-family: $fontOne;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 300ms ease-in-out;
}
body {
  height: 600vh;
}
#App {
  position: relative;
  width: 100%;
  height: 100%;
}
//Section Title/Header
.sectionTitle {
  padding: 20px;
  font-weight: 700;
  padding-top: 60px;

  color: $mainTextColor;
  .alter {
    color: $fourthTextColor;
  }
  p {
    font-size: 2.5rem;
    position: relative;
    &::after {
      content: "";
      bottom: 40%;
      margin-left: 10px;
      position: absolute;
      border-bottom: $decorativeLine;
      width: 20%;
    }
  }
}

#About {
  height: 100%;
  background-color: $bgcTwo;
}
#Skills {
  height: 100%;
  background-color: $bgcOne;
}
#ShowCase {
  height: 100vh;
  background-color: black;
  background: url(../img/chill.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#AllProjects {
  height: 100%;
  background-color: $bgcOne;
}
