@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;0,900;1,300;1,500;1,600;1,800;1,900&display=swap");
#Home {
  background-color: rgb(4, 9, 16);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
}
#Home .container {
  margin-left: 30%;
  padding-bottom: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}
#Home .container .info {
  width: 50%;
  display: inline-flex;
  font-size: 2rem;
  border-bottom: 1px solid rgb(181, 153, 13);
  color: rgb(251, 247, 247);
  font-weight: 650;
  text-align: center;
  margin-top: 40px;
}

#textAnimation span {
  color: white;
  font-size: 3rem;
}
#textAnimation strong {
  color: rgb(3, 57, 132);
}

.socials {
  position: absolute;
  justify-items: center;
  align-items: center;
}
.socials .github {
  background-color: rgb(141, 139, 139);
}
.socials .github:hover .iconContainer svg {
  color: rgb(44, 44, 43);
}
.socials .linkedin {
  background-color: rgb(34, 74, 220);
}
.socials .linkedin:hover .iconContainer svg {
  color: rgb(0, 18, 79);
}
.socials .email {
  background-color: rgb(200, 162, 26);
}
.socials .email:hover .iconContainer svg {
  color: rgb(146, 83, 0);
}
.socials .Scontainer {
  margin-right: 500px;
  display: flex;
  position: relative;
  height: 60px;
  width: 250px;
  transform: translateX(-150px);
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 2px;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}
.socials .Scontainer:hover {
  transform: translateY(0);
}
.socials .Scontainer .text {
  padding-top: 3px;
  text-align: center;
  letter-spacing: 3px;
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(251, 247, 247);
}
.socials .Scontainer svg {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 10%;
  top: 15%;
  position: block;
  color: rgb(235, 234, 242);
  transition: all ease-in-out 400ms;
}

#NavBar {
  z-index: 2;
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px;
  align-items: center;
  transition: all 400ms ease-in-out;
}

.scrolled {
  background-color: rgb(3, 57, 132);
}

#navBarName {
  color: rgb(251, 247, 247);
  text-align: center;
  width: 40%;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 10px;
  font-family: "Lobster", cursive;
}
#navBarName #alter {
  font-family: "Lobster", cursive;
  color: rgb(3, 57, 132);
}
#navBarName .alter {
  color: rgb(251, 247, 247) !important;
  font-family: "Lobster", cursive;
}

#navBarList {
  display: flex;
  width: 60%;
  gap: 5%;
  align-items: center;
}
#navBarList a {
  font-size: 1.2rem;
  text-decoration: none;
  color: whitesmoke;
}
#navBarList .container {
  display: flex;
  height: 100%;
  transition: all 150ms ease-in-out;
  padding: 5px;
}
#navBarList .container svg {
  color: rgb(96, 157, 222);
  margin-right: 5px;
  margin-top: 3px;
  transition: all 300ms ease-in-out;
  transform: scale(1.1);
}
#navBarList .container:hover {
  border-bottom: 3px solid rgb(93, 93, 231);
  transform: scale(1.1);
}
#navBarList .container:hover svg {
  color: rgb(11, 48, 113);
  transform: scale(1.2);
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 200vh;
}

#App {
  position: relative;
  width: 100%;
  height: 100%;
}

#About {
  height: 30vh;
  background-color: rgb(8, 34, 80);
}

#Skills {
  height: 50vh;
  background-color: rgb(110, 3, 3);
}

#ShowCase {
  height: 40vh;
  background-color: rgb(4, 9, 16);
}

#AllProjects {
  height: 40vh;
  background-color: rgb(8, 34, 80);
}

/*# sourceMappingURL=App.css.map */
