@import "Variables";

#Home {
  width: 100%;
  background-color: $bgcOne;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  .container {
    margin-top: 65px;
    margin-left: 30%;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 65%;
    .info {
      width: 50%;
      display: inline-flex;
      font-size: 2rem;
      color: $mainTextColor;
      font-weight: 650;
      justify-content: center;
      text-align: center;
      margin-top: 40px;
      justify-items: center;
      position: relative;
      &::after {
        content: "";
        right: 0;
        top: 50%;
        width: 5%;
        border-bottom: $decorativeLine;
        position: absolute;
      }
      &::before {
        content: "";
        left: 0;
        top: 50%;
        width: 5%;
        border-bottom: $decorativeLine;
        position: absolute;
      }
    }
    .btnContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      margin-top: 30px;
      a {
        color: $mainTextColor;
        font-family: $fontOne;
        display: flex;
        padding: 25px;
        padding-left: 40px;
        padding-right: 40px;
        height: 20px;
        align-items: center;
        border-radius: 50px;
        justify-items: center;
        outline: none;
        text-decoration: none;
        font-weight: 600;
        font-size: 1.03rem;
        cursor: pointer;
        border: none;
      }
      .cv {
        background-color: transparent;
        color: $mainTextColor;
        border: 3px solid $btnColorOne;
        margin-right: 20px;
        &:hover {
          background-color: $btnColorOne;
        }
      }
      .project {
        background-color: $btnColorTwo;
        &:hover {
          background-color: transparent;
          border: 3px solid $btnColorTwo;
        }
      }
    }
  }
}
//Animated Text
#textAnimation {
  span {
    color: $thirdTextColor;
    font-size: 4rem;
  }
  strong {
    color: $secondaryTextColor;
  }
}
//Social networks links
.socials {
  width: 150px;
  position: absolute;
  justify-items: center;
  align-items: center;
  .github {
    background-color: $gitHubCardColor;
    &:hover {
      .iconContainer {
        svg {
          color: rgb(44, 44, 43);
        }
      }
    }
  }

  .linkedin {
    background-color: $linkedinCardColor;
    &:hover {
      .iconContainer {
        svg {
          color: rgb(8, 37, 95);
        }
      }
    }
  }
  .email {
    background-color: $emailCardColor;
    &:hover {
      .iconContainer {
        svg {
          color: rgb(208, 201, 7);
        }
      }
    }
  }
  .Scontainer {
    margin-right: 500px;
    display: flex;
    position: relative;
    height: 60px;
    width: 250px;
    transform: translateX(-150px);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      transform: translateY(0);
    }
    .text {
      padding-top: 3px;
      text-align: center;
      letter-spacing: 3px;
      font-size: 1.3rem;
      font-weight: 700;
      color: $mainTextColor;
    }
    svg {
      height: 40px;
      width: 40px;
      position: absolute;
      right: 10%;
      top: 15%;
      position: block;
      color: $socialIconColor;
    }
  }
}
