@import "Variables";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

#Home {
  background-color: $bgcOne;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  .container {
    margin-left: 25%;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    .info {
      width: 50%;
      display: inline-flex;
      font-size: 1.5rem;
      border-bottom: 1px solid rgb(181, 153, 13);
      color: $mainTextColor;
      font-weight: 650;
      text-align: center;
      margin-left: 100px;
      padding-left: 80px;
      margin-top: 30px;
    }
  }
}
.wrapper {
  display: flex;
}
.wrapper .static-txt {
  color: #fff;
  font-size: 60px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: $secondaryTextColor;
  font-size: 60px;
  font-weight: 800;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -360px;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 80px;
  font-family: "Poppins", sans-serif;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: $bgcOne;
  border-left: 2px solid #ffffff;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}

//Social networks links
.socials {
  position: absolute;
  justify-items: center;
  align-items: center;
  .github {
    background-color: $gitHubCardColor;
  }
  .linkedin {
    background-color: $linkedinCardColor;
  }
  .email {
    background-color: $emailCardColor;
  }
  .Scontainer {
    margin-right: 500px;
    display: flex;
    position: relative;
    height: 60px;
    width: 250px;
    transform: translateX(-150px);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 2px;
    overflow: hidden;
    transition: all 400ms ease-in-out;
    &:hover {
      transform: translateY(0);
    }
    .text {
      padding-top: 3px;
      text-align: center;
      letter-spacing: 3px;
      font-size: 1.3rem;
      font-weight: 700;
      color: $mainTextColor;
    }
    img {
      height: 40px;
      width: 40px;
      position: absolute;
      right: 10%;
      top: 15%;
      position: block;
    }
  }
}
