@import "Variables";

#Home {
  background-color: $bgcOne;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  position: relative;
  .container {
    margin-left: 30%;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    .info {
      width: 50%;
      display: inline-flex;
      font-size: 2rem;
      border-bottom: 1px solid rgb(181, 153, 13);
      color: $mainTextColor;
      font-weight: 650;
      text-align: center;
      margin-top: 40px;
    }
  }
}
//Animated Text
#textAnimation {
  span {
    color: rgb(87, 84, 84);
    font-size: 3rem;
  }
  strong {
    color: $secondaryTextColor;
  }
}
//Social networks links
.socials {
  position: absolute;
  justify-items: center;
  align-items: center;
  .github {
    background-color: $gitHubCardColor;
    &:hover {
      .iconContainer {
        svg {
          color: rgb(44, 44, 43);
        }
      }
    }
  }

  .linkedin {
    background-color: $linkedinCardColor;
    &:hover {
      .iconContainer {
        svg {
          color: rgb(0, 18, 79);
        }
      }
    }
  }
  .email {
    background-color: $emailCardColor;
    &:hover {
      .iconContainer {
        svg {
          color: rgb(146, 83, 0);
        }
      }
    }
  }
  .Scontainer {
    margin-right: 500px;
    display: flex;
    position: relative;
    height: 60px;
    width: 250px;
    transform: translateX(-150px);
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 2px;
    overflow: hidden;
    transition: all 400ms ease-in-out;
    cursor: pointer;
    &:hover {
      transform: translateY(0);
    }
    .text {
      padding-top: 3px;
      text-align: center;
      letter-spacing: 3px;
      font-size: 1.3rem;
      font-weight: 700;
      color: $mainTextColor;
    }
    svg {
      height: 40px;
      width: 40px;
      position: absolute;
      right: 10%;
      top: 15%;
      position: block;
      color: $socialIconColor;
      transition: all ease-in-out 400ms;
    }
  }
}
