@import "Variables";

.lightBGC1 {
  background-color: rgb(235, 233, 233) !important ;
}
.lightBGC2 {
  background-color: rgb(186, 204, 242) !important ;
}
.lightColor1 {
  color: rgb(54, 53, 53) !important;
}
.lightColor2 {
  color: rgb(40, 40, 40) !important;
}

.SkillBoxLight {
  background-color: rgb(79, 98, 165) !important ;
}
