@import "Variables";

.lightBGC1 {
  background-color: rgb(235, 233, 233) !important ;
}
.lightBGC2 {
  background-color: rgb(109, 155, 216) !important ;
}
.lightColor1 {
  color: rgb(4, 4, 4) !important;
}
.lightColor2 {
  color: rgb(40, 40, 40) !important;
}
