@import "Variables";

@media (max-width: 1320px) {
  //Navbar Ham Menu
  #NavBar {
    #hamBtn {
      display: flex;
      color: white;
      height: 30px;
    }
    #navBarList {
      overflow-x: hidden;
      position: absolute;
      right: 0;
      flex-direction: column;
      width: 20vw;
      padding: 10px;
      border-radius: 10px;
      transform: translateX(100vw);
      border-bottom: 1px solid gold;
      border-right: 1px solid gold;
      border-left: 1px solid gold;

      &.active {
        transform: translateY(140px);
      }
    }
  }
  #textAnimation {
    span {
      font-size: 40px;
    }
  }
  #Home {
    .container {
      .info {
        font-size: 27px;
      }
      .btnContainer {
        a {
          font-size: 13px;
        }
      }
    }
    .socials {
      .Scontainer {
        width: 200px;
        transform: translateX(-120px);
      }
    }
  }
}
