@import "Variables";
#NavBar {
  z-index: 2;
  display: flex;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 10px;
  align-items: center;
  transition: all 400ms ease-in-out;
}
.scrolled {
  background-color: $secondaryTextColor;
}
#navBarName {
  color: $mainTextColor;
  text-align: center;
  width: 40%;
  font-weight: 600;
  font-size: 2.5rem;
  letter-spacing: 10px;
  font-family: "Lobster", cursive;
  #alter {
    font-family: "Lobster", cursive;
    color: $secondaryTextColor;
  }
  .alter {
    color: $mainTextColor !important;
    font-family: "Lobster", cursive;
  }
}

#navBarList {
  display: flex;
  width: 60%;
  gap: 5%;
  align-items: center;
  a {
    text-decoration: none;
    color: whitesmoke;
  }
  .container {
    display: flex;
    height: 100%;
    transition: all 150ms ease-in-out;
    padding: 5px;
    svg {
      font-variation-settings: "FILL" 1, "wght" 700, "GRAD" 200, "opsz" 48;
      color: white;
      margin-right: 5px;
      transition: all 300ms ease-in-out;
      &:hover {
        color: rgb(237, 220, 33);
        transform: scale(1.1);
      }
    }
    &:hover {
      border-bottom: 3px solid rgb(93, 93, 231);
      transform: scale(1.1);
    }
  }
}
