@import "Variables";
#carousel {
  // display: flex;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;

  #projectName {
    letter-spacing: 8px;
    font-family: $fontTwo;
    color: $mainTextColor;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  #projectDesc {
    color: $mainTextColor;
  }
  #videoSliderContainer {
    display: flex;
    height: 600px;
    width: 950px;
    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0.5;
    }

    .videoSlider {
      position: relative;
      width: 96%;
      height: 88%;
      overflow: hidden;
      display: flex;
      margin-top: 1%;
      margin-left: 2%;
      border-radius: 3%;
      video {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all 2000ms ease-in-out;
      }
    }
  }
}

.videoActive {
  opacity: 0.85 !important;
}
