@import "Variables";
#Skills {
  .container {
    height: 100%;
    width: 100%;
    padding: 50px;
    padding-left: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    gap: 300px;
    .skillBox {
      padding: 20px;
      display: flex;
      flex-direction: column;
      background-color: $skillCardBGC;
      height: 400px;
      align-items: center;
      box-shadow: rgba(84, 76, 76, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
      border-radius: 10px;
      transition: all 200ms ease-in-out;

      svg {
        justify-self: center;
        height: 40px;
        color: $fourthTextColor;
        margin-bottom: 20px;
        transition: all 400ms ease-in-out;
      }
      .title {
        padding: 5px;
        font-size: 1.4rem;
        color: $mainTextColor;
        text-align: center;
        font-weight: 800;
        margin-bottom: 40px;
      }
      .skillContainer {
        ul {
          li {
            display: flex;
            color: $mainTextColor;
            font-weight: 300;
            margin-bottom: 10px;
            img {
              height: 20px;
              margin-left: 5px;
            }
          }
        }
      }
      &:hover {
        transform: translateY(-20px);
        border-bottom: $decorativeLine;
        svg {
          color: rgb(200, 201, 127);
        }
      }
    }
  }
}
