$mainTextColor: rgb(251, 247, 247);
$secondaryTextColor: rgb(3, 57, 132);
$bgcOne: rgb(4, 9, 16);
$bgcTwo: rgb(8, 34, 80);
$bgcThree: rgb(110, 3, 3);
$mainIconColor: rgb(242, 234, 234);
$gitHubCardColor: rgb(141, 139, 139);
$linkedinCardColor: rgb(34, 74, 220);
$emailCardColor: rgb(200, 162, 26);
