//FontFamily
$fontOne: "Lato", sans-serif;
$fontTwo: "Permanent Marker", cursive;

//TextColor
$mainTextColor: rgb(242, 237, 237);
$secondaryTextColor: rgb(161, 25, 25);
$thirdTextColor: rgb(85, 83, 83);
$fourthTextColor: rgb(166, 64, 64);
//Backgrounds
$bgcOne: rgb(12, 12, 12);
$bgcTwo: rgb(2, 11, 24);
//Cards backgrounds
$gitHubCardColor: rgb(141, 139, 139);
$linkedinCardColor: rgb(34, 74, 220);
$emailCardColor: rgb(200, 162, 26);
$NavBarBGC: rgb(32, 33, 33);
$skillCardBGC: rgb(56, 55, 55);

//Icons
$navBarIconColor: rgb(173, 173, 173);
$navBarIconColorHover: rgb(132, 152, 207);
$socialIconColor: rgb(221, 209, 209);

//Buttons
$btnColorOne: rgb(166, 43, 43);
$btnColorTwo: rgb(14, 14, 90);

//Decorative
$decorativeLine: 3px solid rgb(200, 201, 127);
