@media (max-width: 1320px) {
  #Home {
    #textAnimation {
      span {
        font-size: 40px;
      }
    }
    .container {
      .info {
        font-size: 27px;
      }
      .btnContainer {
        a {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  #Home {
    #textAnimation {
      span {
        font-size: 31px;
      }
    }
    .container {
      .info {
        font-size: 23px;
      }
      .btnContainer {
        a {
          font-size: 12px;
          transform: scale(0.9);
        }
      }
    }
  }
}
@media (max-width: 850px) {
  #Home {
    #textAnimation {
      span {
        font-size: 27px;
      }
    }
    .container {
      .info {
        font-size: 21px;
        margin-left: 10px;
      }
      .btnContainer {
        a {
          font-size: 13px;
          transform: scale(0.85);
        }
      }
    }
  }
}

@media (max-width: 670px) {
  #Home {
    #textAnimation {
      margin-left: -5px;
      span {
        font-size: 23 px;
      }
    }
    .container {
      .info {
        font-size: 18px;
      }
      .btnContainer {
        a {
          transform: scale(0.8);
          text-align: center;
        }
      }
    }
  }
  .socials {
    bottom: 0;
    .Scontainer {
      height: 40px;
      width: 150px;
      transform: translateX(-100px);
      .text {
        font-size: 12px;
      }
      svg {
        height: 30px;
        width: 30px;
      }
    }
  }
}

@media (max-width: 480px) {
  #Home {
    #textAnimation {
      margin-left: 70px;
      text-align: center;
      width: 30vw;
      height: 10vh;
      span {
        font-size: 20px;
      }
    }
    .container {
      margin-left: 15%;
      width: 70%;
      .info {
        width: 100%;
        &::after {
          display: none;
        }
        &::before {
          display: none;
        }
      }
      .cv {
        margin-left: 90px;
        margin-right: -20px;
      }
    }
  }
}
